* {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ccc;
    scrollbar-width: thin;

    /* outline: green solid 1px; */
}

button {
    all: unset;
    cursor: pointer;
}

.hide {
    display: none !important;
}

body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    place-items: center;
}

header {
    width: 100%;
    height: 160px;
    background-color: #333;
    background: linear-gradient(#222, #333);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    position: relative;
}

header h1 {
    color: #fff;
    font-size: 72px;
    font-weight: bold;
}

#sidebarToggle,
#matchbarToggle {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color, .5s;
}

#sidebarToggle:hover,
#matchbarToggle:hover {
    background-color: rgba(0, 0, 0, 0.1);

}

#sidebarToggle {
    left: 0;
    border-top-right-radius: 20px;
    background-image: url(images/players-icon.svg);
    background-position: 50% 60%;
    background-size: 70%;
}

#matchbarToggle {
    right: 0;
    border-top-left-radius: 20px;
    background-image: url(images/calendar-icon.svg);
    background-position: 50% 50%;
    background-size: 50%;
}

header h1::before {
    content: '';
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    display: inline-block;
    height: 100px;
    vertical-align: middle;
    margin-right: 50px;
}

header h1::after {
    content: '';
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    display: inline-block;
    height: 100px;
    vertical-align: middle;
    margin-left: 50px;
}

main {
    display: flex;
    max-width: 100%;
    position: relative;
}

#sidebarSort {
    margin: 5px 0 0 0;
    padding: 5px;
    height: 25px;
    width: 100%;
    background-color: #222;
    color: #fff;
    border: none;
    border-bottom: 2px solid #666;
    cursor: pointer;
}

#sidebarHolder {
    max-height: calc(100vh - 190px);
    width: 15%;
    min-width: 140px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 190px);
    overflow-y: auto;
}

.sidebarPlayer {
    border-bottom: 2px solid #666;
    padding: 10px 5px;
    cursor: pointer;
    font-size: small;
    user-select: none;
    transition: background-color 0.2s;
}

.sidebarPlayer.faded * {
    color: #444
}

.sidebarPlayer:hover {
    background-color: #333;
}

.sidebarPlayer:active {
    background-color: #444;
}

.sidebarPlayerName {
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

.sidebarPlayerInfo {
    display: flex;
    gap: 10px;
}

.sidebarPlayerInfo span.sidebarPlayerInfoPos {
    text-transform: uppercase;
}

#profileHolder {
    position: relative;
}

#profileSwitch {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 170px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#profileSwitch button {
    height: 25px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.4);
    padding: 3px 6px 3px 3px;
    border-radius: 0 0 4px 4px;
    background: linear-gradient(#333, #222);
}

#profileSwitch button.selected {
    background: linear-gradient(#333, #555);
    font-weight: bold;
}

#profileSwitch span {
    height: 20px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 6px 50%;
    padding-left: 26px;
}

#playerProfileSwitch span {
    background-image: url(images/player-icon.svg);
}

#teamProfileSwitch span {
    background-image: url(images/players-icon.svg);
}

#playerProfile {
    padding: 40px 60px 20px 60px;
    display: grid;
    grid-template-areas:
        "name  name  name"
        "pic   info  pitch"
        "stats stats stats";
    grid-template-rows: 60px 200px 1fr;
    grid-template-columns: 200px 1fr 135px;
    gap: 40px;
    width: 65%;
    min-width: 675px;
}

#playerPic {
    max-width: 200px;
    border-radius: 40px;
    grid-area: pic;
    max-height: 200px;
    object-fit: cover;
}

#playerProfile h2 {
    color: #fff;
    font-size: xxx-large;
    grid-area: name;
    display: flex;
    align-items: center;
}

.unavailable {
    grid-area: name;
    margin-top: 60px;
    font-size: large;
    color: red;
    font-weight: bold;
}

#playerProfile .captain {
    background-color: yellow;
    border-radius: 50%;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    text-align: center;
    line-height: 40px;
}

#playerInfo {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-transform: capitalize;
}

#playerInfo>div>div {
    color: #fff;
    font-weight: bold;
    font-size: small;
    margin-bottom: 5px;
}

#playerInfo span {
    font-size: large;
}

#positionGraphic {
    background: no-repeat url(images/FootballPitch.svg);
    background-size: contain;
    width: 135px;
    height: 202px;
    position: relative;
    border-radius: 5px;
    grid-area: pitch;
}

.positionMarker {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #93d5f5;
    border: #740b1c solid 3px;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #740b1c;
    font-size: x-small;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
}

.positionMarker.otherPosition {
    opacity: 0.3;
}

.positionMarker.lw,
.positionMarker.lm,
.positionMarker.lwb,
.positionMarker.lb {
    left: 16%;
}

.positionMarker.st,
.positionMarker.am,
.positionMarker.cm,
.positionMarker.dm,
.positionMarker.cb,
.positionMarker.gk {
    left: 50%
}

.positionMarker.rw,
.positionMarker.rm,
.positionMarker.rwb,
.positionMarker.rb {
    left: 82%
}

.positionMarker.st {
    top: 12%;
}

.positionMarker.lw,
.positionMarker.am,
.positionMarker.rw {
    top: 30%;
}

.positionMarker.lm,
.positionMarker.cm,
.positionMarker.rm {
    top: 50%;
}

.positionMarker.lwb,
.positionMarker.dm,
.positionMarker.rwb {
    top: 66%;
}

.positionMarker.lb,
.positionMarker.cb,
.positionMarker.rb {
    top: 80%;
}

.positionMarker.gk {
    top: 92%;
    background-color: orange;
}

#stats {
    grid-area: stats;
    height: fit-content;
}

#stats h3 {
    color: #fff;
    font-size: 36px;
}

#stats table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

#stats table tr th {
    border-bottom: 2px solid #666;
    font-size: small;
}

#stats table td {
    border-top: 1px solid #666;
}

#stats table td,
#stats table th {
    padding: 5px 10px;
}

#stats table td:nth-child(1),
#stats table th:nth-child(1) {
    border-right: #666 solid 2px;
    font-size: small;
    width: 100px;
}

#stats table tr.total td {
    font-weight: bold;
}

#teamProfile {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-width: 675px;
    height: fit-content;
}

#teamHolder {
    width: 405px;
    display: grid;
    grid-template-rows: repeat(6, 93px);
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
    align-items: center;
    place-items: center;
    gap: 5px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 100%;
    background: url(images/FootballPitch.svg) no-repeat;
    background-size: 100% auto;
}

#teamHolder>div {
    border-radius: 10px;
    border: solid 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: small;
    color: #222;
    font-weight: bold;
    padding: 5px;
}

#teamHolder .blank {
    visibility: hidden;
}

#teamHolder .teamPosPlayerHolder {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 68px;
}

#teamHolder .teamPosPlayerHolder span {
    text-shadow: 0 0 2px #000;
    font-weight: normal;
    cursor: pointer;
}

#teamHolder .teamPosPlayerHolder .playerLink {
    color: #fff;
}

#teamHolder .teamPosPlayerHolder .otherPosition {
    color: #aaa;
    font-size: smaller;
}

#teamHolder .st,
#teamHolder .lw,
#teamHolder .rw {
    border-color: #522;
    background-color: rgba(250, 00, 00, 0.4);
}


#teamHolder .am,
#teamHolder .lm,
#teamHolder .cm,
#teamHolder .rm,
#teamHolder .dm {
    border-color: #442;
    background-color: rgba(200, 200, 0, 0.4);
}


#teamHolder .lwb,
#teamHolder .rwb,
#teamHolder .lb,
#teamHolder .cb,
#teamHolder .rb {
    border-color: #223;
    background-color: rgba(0, 0, 200, 0.4);
}

#teamHolder .gk {
    border-color: #242;
    background-color: rgba(0, 100, 0, 0.4);
}


#matchbarHolder {
    max-height: calc(100vh - 190px);
    width: 20%;
    min-width: 240px;
}

#totalStats {
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    padding: 5px 0;
}

#matchbar {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 190px);
    overflow-y: auto;
    border-top: 2px solid #666;
}

.matchbarMatch {
    border-bottom: 2px solid #666;
    padding: 10px 0;
    text-align: center;
    font-size: small;
    user-select: none;
    transition: background-color 0.2s;
}

.matchbarMatch:hover {
    background-color: #333;
}

.matchbarMatch:active {
    background-color: #444;
}

.matchbarMatch.matchWin {
    background-color: #242;
}

.matchbarMatch.matchDraw {
    background-color: #223;
}

.matchbarMatch.matchLoss {
    background-color: #522;
}

.matchHeader span,
.matchInfo .motm,
.matchInfo .selected {
    font-weight: bold;
    color: #fff;
}

.matchHeader .matchOpponent {
    font-weight: normal;
    margin-bottom: 5px;
}

.matchHeader .matchComp,
.matchHeader .matchDate {
    margin-top: 5px;
}

.matchInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 350px;
    padding: 10px 5px;
}

.matchInfoAnimation {
    transition-property: max-height, transform, padding;
    transition-duration: 0.5s;
}

.matchInfo.hide {
    max-height: 0px;
    padding: 4px 5px;
    pointer-events: none;
    transform: scaleY(0);
    transform-origin: top center;
}

.showMatchInfo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.showMatchInfo div {
    transition-property: transform;
    transition-duration: 0.5s;
    background-image: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 55%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: #666 solid 2px;
}

.showMatchInfo:before {
    content: '';
    width: 70px;
    height: 0px;
    position: relative;
    top: 10px;
    right: 5px;
    border-bottom: #666 solid 1px;
}

.showMatchInfo:after {
    content: '';
    width: 70px;
    height: 0px;
    position: relative;
    top: 10px;
    left: 5px;
    border-bottom: #666 solid 1px;
}

.showMatchInfo.reveal div {
    transform: rotate(180deg);
}

.matchInfo .yellowCards {
    margin: 10px 0;
}

.matchInfo .matchEvent {
    background-repeat: no-repeat;
    background-size: contain;
}

.matchInfo .home {
    text-align: left;
    padding-left: 20px;
    background-position: 0% 50%;
}

.matchInfo .away {
    text-align: right;
    padding-right: 20px;
    background-position: 100% 50%;
}

.matchInfo .goal {
    background-image: url(images/football-icon.svg);
}

.matchInfo .redCard {
    background-image: url(images/red-card.svg);
}

.matchInfo .penMiss {
    background-image: url(images/pen-miss.svg);
}

.matchInfo .yellowCard {
    background-image: url(images/yellow-card.svg);
}

.matchInfo .playerLink {
    text-decoration: underline;
    cursor: pointer;
}

.matchInfo span:not(.yellowCard span) {
    color: #fff;
}

@media screen and (max-width: 1130px) {

    #sidebarToggle,
    #matchbarToggle {
        display: block;
    }

    header h1 {
        font-size: 52px;
    }

    header h1::before {
        width: 64px;
        height: 80px;
        margin-right: 30px;
    }

    header h1::after {
        width: 64px;
        height: 80px;
        margin-left: 30px;
    }

    #playerProfile {
        width: 100%;
    }

    #sidebarHolder,
    #matchbarHolder {
        display: none;
        position: absolute;
        top: 0;
        background-color: #222;
        z-index: 2;
        max-height: calc(100vh - 130px);
    }

    #sidebar,
    #matchbar {
        max-height: calc(100vh - 130px);

    }

    #sidebarHolder.reveal,
    #matchbarHolder.reveal {
        display: block !important;
    }

    #matchbarHolder {
        right: 0;
    }
}

@media screen and (max-width: 740px) {

    header {
        height: 100px;
    }

    header h1 {
        font-size: 46px;
    }

    header h1::before {
        width: 40px;
        height: 50px;
        margin-right: 10px;
    }

    header h1::after {
        width: 40px;
        height: 50px;
        margin-left: 10px;
    }

    #playerProfile h2 {
        font-size: 40px;
    }

    #playerProfile {
        grid-template-areas:
            "name  name  name"
            "pic   pic  pic"
            "info   pitch  pitch"
            "stats stats stats";
        place-items: center;
        grid-template-columns: 100px 1fr 202px;
        gap: 20px;
        min-width: unset;
    }

    #positionGraphic {
        transform: rotate(90deg);
        transform-origin: 50% 50%;
        margin: -20px 0;
    }

    .positionMarker {
        writing-mode: sideways-lr;
    }

    #stats {
        width: inherit;
    }

    #stats table {
        box-shadow: 6px 0px 5px -7px #666, -6px 0px 5px -7px #666;
    }

    #teamProfile {
        min-width: unset;
    }
}

@media screen and (max-width: 500px) {


    header h1 {
        font-size: 30px;
    }

    #playerProfile {
        padding: 40px 0 0 0;
    }

    #playerProfile h2 {
        font-size: 26px;
    }

    #playerProfile {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    #playerInfo {
        flex-direction: row;
    }

    #stats {
        width: 300px;
    }

    #teamHolder {
        width: 325px;
        grid-template-rows: repeat(6, 74px);
        grid-template-columns: repeat(3, 104px);
    }

    #teamHolder .teamPosPlayerHolder {
        height: 50px
    }
}